# Install and load necessary libraries

install.packages(c("ggplot2", "dplyr"))
library(ggplot2) - #for plots
library(dplyr) - #manipulation

#package to upload excel dataset

install.packages("readxl")
# Load the readxl library
library(readxl)

# Specify the file path
file_path <- "path/to/your/excel/file.xlsx"

# Read the Excel file into a data frame
data <- read_excel(file_path)

# View the first few rows of the data
head(data)

#example - XLS
library(readxl)
gdp <- read_excel("~/gdp.xlsx")
View(gdp)

#subsetting
gdp_subset <- subset(gdp, select = c(Y2))

#this was ineteresting - 4 images on one - the stimulated dataset
plot.ts(gdp, main= "GDP")
plot.ts(gdp_subset, main= "GDP", col= "red", type="l", lwd= 3)
#the df didnt have date, ts function auto changed the dataset into a time series - i could be wrong 














